*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
html{
    height: 100%;
    margin: 0;
    font-weight: 100;
    
}
html { 
    height:100%;
}
body { 
    min-height:100%;
}
/*--------------RESUALE-------------------------*/
.max-width{
    width: 1300px;
}
.row{
    
    margin:0 auto;
}
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float: left;
}
.col-25per{width: 25%;}
.col-75per{width: 75%;}
.col-1-of-4{width: 25%;}
.col-2-of-4{width: 25%;}
.col-3-of-4{width: 25%;}
.col-4-of-4{width: 25%;}
.col-1-of-3{width: 33.33%;}
.col-2-of-3{width: 33.33%;}
.col-3-of-3{width: 33.33%;}
.col-1-of-2{width: 50%;}
.col-2-of-2{width: 50%;}
.col
.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.max-height{
    height:100%;
}

.text-center{
    text-align:center;
}
.section {
    clear: both;
    padding: 0;
    margin-top: 120px;
    margin-left: 10px;
}

/*  =================================ANIMATION ==============================================================*/
@keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }
@keyframes BORDER-ANIMATION{
    0%{
       width: 5px;
    }
    100%{
       width: 15px;
    }
}
@keyframes left-to-right-animation{
    0%{
        transform: translateX(-35px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes right-to-left-animation{
    0%{
        transform: translateX(35px);
        opacity: 0;
    }
   
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes down-to-up-animation{
    0%{
        transform: translateY(35px);
        opacity: 0;
    }
   
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/*-----------------------------------------------nav-bar-------------------------------------------------------*/
.nav-container{
    background-color:rgb(240, 240, 240);
    width: 320px;
    position: fixed;
}
.main{
    margin-left: 320px;
}
.img-header{
    border-radius: 50%;
    margin-left: 85px;
    margin-top: 50px;
    width: 160px;
    height: 170px;
    margin-bottom: 20px;
}

.text-heading {
    color: rgb(0, 0, 0);
}
.text-sub {
    margin-top: 15px;
    font-size: 13px;
    color: rgb(110, 106, 106);
    font-weight: 400;
}
a{
    color: rgb(49, 184, 218);
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.nav-main{
    margin: 20px 0;
   
}
.nav-main li{
    list-style: none;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 13px;
    
}
.nav-main a{
    color: rgb(170, 168, 168);
    transition: all .2s;
}
.border-btt{
    color: rgb(49, 184, 218) !important;
}
.border-btt, .nav-main a:hover{
    border-bottom: 1px solid rgb(98, 197, 255);
    color: rgb(0, 0, 0);   
}
/*heading*/
.heading-section{
    animation: fade 1.5s infinite ease-out;
    background-size: cover;
    height: 100vh;
    background-position: center;
    width: 80%;
}
.bg-01{
    background-image: url("/images/img_bg_2.jpg");
}
.bg-02{
    background-image: url("/images/img_bg_1.jpg");
}
.heading-box{
    position: relative;
    top: 30%;
    left: 5%;
}
.heading-box h1{
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 25px;
    font-size: 50px;
}
.heading-sub{
    margin-bottom: 35px;
}

.btn-portpolio{
    border: 1px solid rgb(82, 80, 80);
    padding: 8px 17px;
    color: rgb(0, 0, 0);
}
.heading-section ul li{
    list-style: none;
}
.dot-change{
    border: 2px solid rgb(105, 197, 250);;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: relative;
    top: 230px;
    margin-top: 15px;
}

/*=====About us=====*/
.text-heading-section{letter-spacing: 2px;font-weight: 400;font-size: 12px;margin: 20px 0;}
.text-sub-section{letter-spacing: 2px;margin: 20px 0 60px 0;}
.section-content{
    margin: 30px 0;
    color: rgb(121, 113, 113);
}
.section-content p{
    margin: 20px 0;
}
.about_us-box{
    animation: left-to-right-animation 1.4s 1 ease-out;
}

/*----skill-box-----*/

.skill-box{
    margin:30px 0;
    width: 200px;
    height: 170px;
    margin-left: 30px;
    padding: 30px; 
    -webkit-box-shadow: -4px 6px 89px -41px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 6px 89px -41px rgba(0,0,0,0.75);
    box-shadow: -4px 6px 89px -41px rgba(0,0,0,0.75);
}
.skill-box i{
    font-size: 50px;
    margin-bottom: 30px;
}

.about_us-section .fa-lightbulb{color: rgb(105, 197, 250)}
.about_us-section .fa-globe{color: rgb(252, 85, 85);}
.about_us-section .fa-database{ color:rgb(252, 213, 85);}
.about_us-section .fa-mobile-alt{color:rgb(163, 85, 252);}

.box-1{border-bottom: 3px solid rgb(105, 197, 250); }
.box-2{border-bottom: 3px solid rgb(252, 85, 85); }
.box-3{border-bottom: 3px solid rgb(252, 213, 85);}
.box-4{border-bottom: 3px solid rgb(163, 85, 252);}
.box-5{border-bottom: 3px solid rgb(66, 219, 160);}
.box-6{border-bottom: 3px solid rgb(111, 111, 233);}

.what-i-do-section .box-1 .fa-lightbulb{
    background: rgb(105, 197, 250);
}
.what-i-do-section .box-2 .fa-database{background: rgb(252, 85, 85);}
.what-i-do-section .box-3 .fa-mobile-alt{background:rgb(252, 213, 85); }
.what-i-do-section .box-4 .fa-server{background:rgb(163, 85, 252); }
.what-i-do-section .box-5 .fa-database{background: rgb(66, 219, 160);}
.what-i-do-section .box-6 .fa-mobile-alt{background:rgb(111, 111, 233);}

.left-to-right-ani-1dot6{
    animation: left-to-right-animation 1.6s 1 ease-out;
}
.right-to-left-ani-1dot8{
    animation: right-to-left-animation 1.8s 1 ease-out;
}
.down-to-up-ani-2{
    animation: down-to-up-animation 2s 1 ease-out;
}
.down-to-up-ani-2dot2{
    animation: down-to-up-animation 2.2s 1 ease-out;
}
.hire-box{
    font-size: 27px;
    background-color: rgb(252, 213, 85);
    padding: 40px;
    animation: left-to-right-animation 2.4s 1 ease-out;
}
.hire-text{
    margin-bottom: 50px;
}
.hire-box a{
    font-size: 22px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 5px;
}
/*--how-i-do--*/
.ability-box{
    margin:30px 0;
    width: 290px;
    height: 270px;
    margin-left: 30px;
    padding: 25px; 
    
    -webkit-box-shadow: -4px 6px 89px -41px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 6px 89px -41px rgba(0,0,0,0.75);
    box-shadow: -4px 6px 89px -41px rgba(0,0,0,0.75);
}
.ability-box p{
    color: #635e5e;
}
.ability-box i{
    position: relative;
    top: -80px;
    left: 25%;
    color: #ffffff;
    background-color: black;
    padding: 35px;
    font-size: 35px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.ability-box h3{
    position: relative;
    top: -50px;
}

.project-count-box{
    background-image:linear-gradient( rgba(0, 0, 0, 0.62),rgba(0, 0, 0, 0.62)), url("../images/cover_bg_1.jpg");
    background-attachment: fixed;
}
.count-box{
    padding: 50px;
}
.count-box p, .count-box h3{
    text-align: center;
    color: #ffffff;
}
.count-box .count{font-size: 30px; font-weight: 600;}
.count-box h3{font-weight: 400;}
/*-----education-------*/
.arrcodion{
    border: none;
    background: rgb(233, 231, 231);
    width: 100%;
    text-align: left;
    padding: 15px;
    font-size: 16px;
    font-weight: 580;
    outline: none;
    margin: 2px 0;
    transition: 0.4s;
}
.active {
    background-color: #635e5e;
    border:none;
  }
  .arcc-active{
    background-color: rgb(88, 180, 255);
    color: #ffffff;
  }
.arrcodion::after{
    content: "+";
    float: right;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 580;

}
.arrcodion:hover{cursor: pointer;}
.active:after {
    content: "\2212";
  }
  
.panel{
    border: 1px solid rgb(194, 191, 191);
    padding: 20px;
    margin: 6px 0;
    display: none;
    transition: all 0.2s ease-out;
}
.panel ul{
    margin: 25px 35px;
}


/*----------------special-box--------------*/
.special-line{
    width: 80%;
    background-color: rgb(221, 216, 216);
    border-radius: 100px 100px;
    margin: 10px;
    height: 10px;
}
.line{
    height: 10px;
    border-radius: 100px 100px;
}

.line span{
    position: relative;
    top: -45px;
    left: 95%;
    font-weight: 600;
    font-size: 12px;
}
.dot{
    width: 20px;
    height: 20px;
    background: #635e5e;
    border-radius: 50%;
    position: relative;
    top: -5px;left: 95%;
}


.bg-blue{background: #3bb7ff;}
.bg-red{background: rgb(255, 70, 70);}
.bg-yellow{background: rgb(252, 213, 85);}
.bg-med-blue{ background: rgb(111, 111, 233);}
.bg-purple{ background: rgb(163, 85, 252);}
.bg-green{background:rgb(66, 219, 160);}

.line-jquery{width: 20%;}
.line-pts{width: 75%;}
.line-html{width: 95%;}
.line-css{width: 90%; }
.line-wordpress{width: 35%; }
.line-seo{width: 20%;}

/*---experience---*/
.timeline {
    position: relative;
    margin: 0 auto;
}
.timeline::after{
    content: '';
    position: absolute;
    background: rgb(233, 228, 228);
    width: 6px;
    top: 0;
    bottom: 0;
    margin-left: 8px;
}
.exp-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
}

.exp-container::after{
    content: "\00270E";
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: absolute;
    width: 38px;
    height: 38px;
    left: -10px;
    border-radius: 50%;
    border: 4px solid rgb(233, 228, 228);
    top: 0;
    z-index: 1;
}
.cir-blue .exp-container::after{
    background: rgb(55, 174, 243);
}
.cir-red .exp-container::after{
    background: rgb(255, 70, 70);
}
.cir-yellow .exp-container::after{
    background: rgb(252, 213, 85);
}
.cir-med-blue .exp-container::after{
    background: rgb(111, 111, 233);
}
.cir-purple .exp-container::after{
    background: rgb(163, 85, 252);}
.cir-green .exp-container::after{
    background: rgb(66, 219, 160);}
.content{
    width: 98%;
    background: rgb(233, 228, 228);
    padding: 30px;
    position: relative;
    margin-left: 8px;
}
.content a{
    color: rgb(0, 0, 0);
}
.content p{
    margin-top: 30px;
}
.content span{
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
    color: rgb(151, 146, 146);
}
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    border: medium solid rgb(233, 228, 228);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(233, 228, 228) transparent transparent;
  }
  /*----------*/
  .work-nav li{
      display: inline-block;
      margin: 25px 20px;
  }
  .img-box img,.img-box{
      width: 400px;
      height: 300px;
      margin: 10px 0;
  }
  
.fade-box{
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
img{
    background: linear-gradient(#3bb7ff, #222222);
}
.img-box:hover .fade-box{
    opacity: 1;

}
  .img-box h3, .img-box p{
      position: relative;
      top: -300px;
      margin: 15px 0 0 20px;
      z-index: 1;
      
  }
  .img-box ul li{
      display: inline-block;
      background:  rgb(233, 228, 228);
      padding: 4px 5px 2px 5px;
      position: relative;
      top: -150px;
      left: 18px;
      margin: 15px 0 0 2px;
      z-index: 1;
      border-radius: 5px;

  }
  .img-box a{
      color: rgb(0, 0, 0);
  }
  .load-btn{
      margin: 30px 0 0 180px;
      
      padding: 10px;
      width: 60%;
      border: none;
      background: #52bfff;
  }
  .load-btn a{
      color: #ffffff;
  }
  
  .blog-container img{
      width: 290px;
      height: 200px;
      margin: 10px;
  }
  .blog-link{
      font-size: 14px;
      color: rgb(190, 188, 188);
  }
  .blog-container h3{
     padding: 0 10px;
     
  }
  .blog-container a{
      color: #222222;
  }
  .blog-container p{
    color: rgb(131, 125, 125);
    font-size: 15px;
    padding: 10px;
  }
  .contact-section li i{
    padding: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    background-color:  rgb(233, 228, 228);
    color: #59c0fc;
    font-size: 25px;
    display: inline-block;
    
  }
  input[type=text],textarea{
      margin-bottom: 15px;
      padding: 18px;
      width: 350px;
      background-color: rgb(241, 237, 237);
      border: none;
      outline: none;
  }
  .submit{
      border: none;
      background: #52bfff;
      padding: 16px;
      margin-bottom: 30px;
  }
  .submit a{
      color:#ffffff; 
  }

  